<a href="https://colab.research.google.com/github/HauThierry/HauThierry/blob/main/cha%C3%AEnes_et_plus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Les chaînes de caractères

In [ ]:
str_1 = 'De nouveau Hello'
print(f"Le type de str_1 est : {type(str_1)}")
print("1_ ", str_1)
print("2- ", str_1[:10])
print("3- ", str_1[11:])
print("4- ", str_1[3:10])
print("5- ", str_1[::2])

str_2 = str_1 + ' world'
print(f"str_2 ={str_2}")

Le type de str_1 est : <class 'str'>
1_  De nouveau Hello
2-  De nouveau
3-  Hello
4-  nouveau
5-  D ova el
str_2 =De nouveau Hello world

Le type booléen

In [ ]:
a, b, c = True, False, True

print(f"a = {a}, b = {b}, c = {c}")
print(f"Le type de la variable 'a' est : {type(a)}")
print(f"a = b : {a == b}")
print(f"a = c : {a == c}")

d = a+c
print(f"d = a+c : {d}")
print(f"Le type de la variable 'd' est : {type(d)}")

a = True, b = False, c = True
Le type de la variable 'a' est : <class 'bool'>
a = b : False
a = c : True
d = a+c : 2
Le type de la variable 'd' est : <class 'int'>

In [ ]:
a,b,pi = True, 5, 3.14
print(f"a = {a}, b = {b}, pi = {pi}")

print(f"a = 0 : {a == 0}")
print(f"a = 1 : {a == 1}")
print(f"a = bool(50) : {a==bool(50)}")
print(f"a = bool(pi) : {a==bool(pi)}")
print(f"a > False : {a > False}")

print(f"(b = 5) ou (b = 6) : {(b == 5) or (b == 6)}")
print(f"(b = 6) ou (b = 5) : {(b == 6) or (b == 5)}")
print(f"not(a) = : {not(a)}")
print(f"(a = True) and (b = 5) : {(a == True) and (b == 5)}")

ch1="Un dernier Hello World"
ch2=""
print(f"bool(ch1) : {bool(ch1)}")
print(f"bool(ch2) : {bool(ch2)}")

a = True, b = 5, pi = 3.14
a = 0 : False
a = 1 : True
a = bool(50) : True
a = bool(pi) : True
a > False : True
(b = 5) ou (b = 6) : True
(b = 6) ou (b = 5) : True
not(a) = : False
(a = True) and (b = 5) : True
bool(ch1) : True
bool(ch2) : False

Des listes

In [ ]:
list_1 = [1,28,True,"Python",64,False,"Langage C",12,"Pascal",10]
print("list_1 = ",list_1)
print(f"Le nombre d'éléments dans la liste list_1 est : {len(list_1)}")

item0 = list_1[0]
item1 = list_1[-1]

print(f'item0 = {item0}')
print(f'item1 = {item1}')

list_1[1] = "json"
list_1[6] = "C++"
print("list_1 = ",list_1)

list_2 = list_1 + [1,2,3]
print("list_2 = ",list_2)

list_1 =  [1, 28, True, 'Python', 64, False, 'Langage C', 12, 'Pascal', 10]
Le nombre d'éléments dans la liste list_1 est : 10
item0 = 1
item1 = 10
list_1 =  [1, 'json', True, 'Python', 64, False, 'C++', 12, 'Pascal', 10]
list_2 =  [1, 'json', True, 'Python', 64, False, 'C++', 12, 'Pascal', 10, 1, 2, 3]

Les tuples

In [ ]:
tuple_ = (1,2,True,"Fortran")

print(f"tuple_ = {tuple_}")
print(f"Le type de tuple_ est : {type(tuple_)}")

t1=(1,2,3)
a,_,b = t1
print(f"a = {a}, b = {b}")

t2=(1,2,3,4,5,6,7,8,9,10)
(v1,*r,v2) = t2
print(f"v1 = {v1}, r={r}, v2 = {v2}")

tuple_ = (1, 2, True, 'Fortran')
Le type de tuple_ est : <class 'tuple'>
a = 1, b = 3
v1 = 1, r=[2, 3, 4, 5, 6, 7, 8, 9], v2 = 10

Les dictionnaires

In [ ]:
dict1 = dict({"clé1": 1, "clé2": 2, "clé3": "Hello"})
print('dict1 = ', dict1)
print(f"Le type de dict1 est : {type(dict1)}")

dict2 = {}
dict2["clé1"] = 1
dict2["clé2"] = 2
dict2["clé3"] = 3
dict2["clé4"] = 4
print('dict2 = ', dict2)

dict2["clé2"] = "deux"
print('dict2 = ', dict2)

dict1 =  {'clé1': 1, 'clé2': 2, 'clé3': 'Hello'}
Le type de dict1 est : <class 'dict'>
dict2 =  {'clé1': 1, 'clé2': 2, 'clé3': 3, 'clé4': 4}
dict2 =  {'clé1': 1, 'clé2': 'deux', 'clé3': 3, 'clé4': 4}

Les ensembles

In [ ]:
set_1 = {True,False,1,2,2,'SET'}
print(f"Le type de set_1 est : {type(set_1)}")
print(f"set_1 = {set_1}")

set_2 = {(1,2),(1,2),(1,2,3)}
print(f"set_2 = {set_2}")

set_3 = set([6,7])
print(f"set_3 = {set_3}")

set_3.update(set_1, {8,9})
print(f"set_3 = {set_3}")

set_3.discard(8)
set_3.remove(9)
print(f"set_3 = {set_3}")

Le type de set_1 est : <class 'set'>
set_1 = {False, True, 2, 'SET'}
set_2 = {(1, 2), (1, 2, 3)}
set_3 = {6, 7}
set_3 = {False, True, 2, 6, 7, 'SET', 8, 9}
set_3 = {False, True, 2, 6, 7, 'SET'}

In [ ]:
A={1,2,3,4,5,6}
B={4,5,6,7,8,9}

print(f"A = {A}")
print(f"B = {B}")

union = A|B
print(f"union = A|B = {union}")

intersection = A&B
print(f"intersection = A&B = {intersection}")

diff_A_B = A-B
print(f"diff_A_B = A-B = {diff_A_B}")

sym_diff = A^B
print(f"sym_diff = A^B = {sym_diff}")

A = {1, 2, 3, 4, 5, 6}
B = {4, 5, 6, 7, 8, 9}
union = A|B = {1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection = A&B = {4, 5, 6}
diff_A_B = A-B = {1, 2, 3}
sym_diff = A^B = {1, 2, 3, 7, 8, 9}

Ecrire une instruction sur plusieurs lignes

In [ ]:
s1 = 1+2+3 \
+4+5+6 \
+7
print(f"s1 = {s1}")

s2 = [1+2+3
+4+5+6
+7]
print(f"s2 = {s2}")

s3 = (1+2+3
+4+5+6
+7)
print(f"s3 = {s3}")

s4 = {1+2+3
+4+5+6
+7}
print(f"s4 = {s4}")

s1 = 28
s2 = [28]
s3 = 28
s4 = {28}

Ecrire plusieurs instructions sur une ligne

In [ ]:
a = 1+2+3; b=5; c=a*b; print(f"c={c}")

c=30

Les conditions avec la structure if

In [ ]:
user_input = input("Veuillez saisir un nombre entier :")
n = int(user_input)

if n%2 == 0:
    print(f"{n} est un nombre pair")

if n%2 != 0:
    print(f"{n} est un nombre impair")
print("Fin du programme !")

Veuillez saisir un nombre entier :2
2 est un nombre pair
Fin du programme !

In [ ]:
user_input = input("Veuillez saisir un nombre entier :")
n = int(user_input)

if n%2 == 0:
    print(f"{n} est un nombre pair")
else:
    print(f"{n} est un nombre impair")

print("Fin du programme !")

Veuillez saisir un nombre entier :2
2 est un nombre pair
Fin du programme !

Les conditions avec la structure if-elif-else

In [ ]:
user_input = input("Veuillez saisir un nombre entier :")
n = int(user_input)

if (n%2) == 0:
    print(f"{n} est un nombre pair")
    print(f"{n}**2 = {n**2}")

elif (n%3) == 0:
    print(f"{n} est un multiple de 3")
    print(f"{n}**3 = {n**3}")

elif (n%5) == 0:
    print(f"{n} est un multiple de 5")
    print(f"{n}**5 = {n**5}")

else:
    print(f"{n} est un nombre impair, mais il n'est pas un multiple de 3" \
    " ni un multiple de 5.")

print("Fin du programme !")

Veuillez saisir un nombre entier :21
21 est un multiple de 3
21**3 = 9261
Fin du programme !

In [ ]:
def http_status(status):
    match status:
        case 200:
            return "OK"
        case 404:
            return "Not Found"
        case _:
            return "Unknown Status"
print(http_status(200))

OK

La boucle for

In [ ]:
for i in range(10):
    print(f"itération = {i}")
print("Fin du programme !")

itération = 0
itération = 1
itération = 2
itération = 3
itération = 4
itération = 5
itération = 6
itération = 7
itération = 8
itération = 9
Fin du programme !

In [ ]:
for value in [10,11,15,18]:
    print(f"value = {value}")
print("Fin du programme !")

value = 10
value = 11
value = 15
value = 18
Fin du programme !

In [ ]:
for i, value in enumerate([10,11,15,18]):
    print(f"à l'itération {i} value = {value}")
print("Fin du programme !")

à l'itération 0 value = 10
à l'itération 1 value = 11
à l'itération 2 value = 15
à l'itération 3 value = 18
Fin du programme !