<a href="https://colab.research.google.com/github/HauThierry/HauThierry/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

23/01/2026

https://www.youtube.com/watch?v=qMGjh6rKIgw&list=PLlVRzxtr0mQkc54pDYopUwuFoyovYoZiQ&index=7
#6 - Apprendre à coder en Python pour l'Intelligence Artificielle - Pandas

In [4]:
#Les objets en pandas - Series et DataFrame
#pd.Series(list/array,index=[...])
#pd.Series(dict)

import pandas as pd
import numpy as np

print(pd.Series(np.array([1,2,3])))
print(pd.Series([5,6,7]))

0    1
1    2
2    3
dtype: int64
0    5
1    6
2    7
dtype: int64

In [5]:
#pd.DataFrame(array, index=[...])
#pd.DataFrame(dict avec list comme value )

pd.DataFrame({'colonne1':[1,2,3],
              'colonne2':[5,4,3]})

   colonne1  colonne2
0         1         5
1         2         4
2         3         3

In [6]:
#df.head(n) afficher les n première lignes de notre DF

df_covid = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-19-2020.csv')
df_covid.head(2)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-19 23:41:01,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-19 23:41:01,30.295065,-92.414197,110,7,0,103,"Acadia, Louisiana, US"

In [7]:
#set_index(), reset_index()index=[], reindex(columns=[]), définir un index

df_covid.set_index('Country_Region').head()

,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
Country_Region,,,,,,,,,,,
US,45001.0,Abbeville,South Carolina,2020-04-19 23:41:01,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US"
US,22001.0,Acadia,Louisiana,2020-04-19 23:41:01,30.295065,-92.414197,110,7,0,103,"Acadia, Louisiana, US"
US,51001.0,Accomack,Virginia,2020-04-19 23:41:01,37.767072,-75.632346,42,0,0,42,"Accomack, Virginia, US"
US,16001.0,Ada,Idaho,2020-04-19 23:41:01,43.452658,-116.241552,598,10,0,588,"Ada, Idaho, US"
US,19001.0,Adair,Iowa,2020-04-19 23:41:01,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"

In [8]:
df_covid.head(2)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-19 23:41:01,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-19 23:41:01,30.295065,-92.414197,110,7,0,103,"Acadia, Louisiana, US"

In [11]:
#enregistrer le changement d'index
#df_covid = df_covid.set_index('Country_Region').head()

# Only set the index if 'Country_Region' is still a column
if 'Country_Region' in df_covid.columns:
    df_covid.set_index('Country_Region', inplace=True)
else:
    print("La colonne 'Country_Region' est déjà l'index ou n'existe plus.")

df_covid.head(2)

La colonne 'Country_Region' est déjà l'index ou n'existe plus.

,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
Country_Region,,,,,,,,,,,
US,45001.0,Abbeville,South Carolina,2020-04-19 23:41:01,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US"
US,22001.0,Acadia,Louisiana,2020-04-19 23:41:01,30.295065,-92.414197,110,7,0,103,"Acadia, Louisiana, US"

In [13]:
df_covid = df_covid.reset_index()
df_covid.head(2)

,index,Country_Region,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,0,US,45001.0,Abbeville,South Carolina,2020-04-19 23:41:01,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US"
1,1,US,22001.0,Acadia,Louisiana,2020-04-19 23:41:01,30.295065,-92.414197,110,7,0,103,"Acadia, Louisiana, US"

In [15]:
#renommer des colonnes et index df.rename(columns={old_name:new_name}, index={old_name:new_name})


df_covid.rename(columns={'Admin2':'Admin'}, inplace = True)
df_covid.head(2)

,index,Country_Region,FIPS,Admin,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,0,US,45001.0,Abbeville,South Carolina,2020-04-19 23:41:01,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US"
1,1,US,22001.0,Acadia,Louisiana,2020-04-19 23:41:01,30.295065,-92.414197,110,7,0,103,"Acadia, Louisiana, US"

In [16]:
#accéder aux données
# boolean , selectionner certaines donnée

df_covid['Country_Region'] == 'US'

0        True
1        True
2        True
3        True
4        True
        ...
3105    False
3106    False
3107    False
3108    False
3109    False
Name: Country_Region, Length: 3110, dtype: bool

In [17]:
df_covid.shape

(3110, 13)

In [18]:
df_covid[df_covid['Country_Region'] == 'US']

,index,Country_Region,FIPS,Admin,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,0,US,45001.0,Abbeville,South Carolina,2020-04-19 23:41:01,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US"
1,1,US,22001.0,Acadia,Louisiana,2020-04-19 23:41:01,30.295065,-92.414197,110,7,0,103,"Acadia, Louisiana, US"
2,2,US,51001.0,Accomack,Virginia,2020-04-19 23:41:01,37.767072,-75.632346,42,0,0,42,"Accomack, Virginia, US"
3,3,US,16001.0,Ada,Idaho,2020-04-19 23:41:01,43.452658,-116.241552,598,10,0,588,"Ada, Idaho, US"
4,4,US,19001.0,Adair,Iowa,2020-04-19 23:41:01,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2829,2829,US,66.0,NaN,Guam,2020-04-19 23:41:01,13.444300,144.793700,136,5,0,131,"Guam, US"
2856,2856,US,69.0,NaN,Northern Mariana Islands,2020-04-19 23:41:01,15.097900,145.673900,14,2,0,12,"Northern Mariana Islands, US"
2863,2863,US,72.0,NaN,Puerto Rico,2020-04-19 23:41:01,18.220800,-66.590100,1213,62,0,1151,"Puerto Rico, US"
2868,2868,US,NaN,NaN,Recovered,2020-04-19 23:41:01,NaN,NaN,0,0,70337,0,"Recovered, US"
2887,2887,US,78.0,NaN,Virgin Islands,2020-04-19 23:41:01,18.335800,-64.896300,53,3,0,50,"Virgin Islands, US"

In [19]:
df_covid[df_covid['Country_Region'] == 'US'].shape

(2810, 13)

In [20]:
(df_covid[df_covid['Country_Region'] == 'US'].shape[0]/df_covid.shape[0])*100

90.35369774919614

In [21]:
#df.columns  voir toutes les colonnes de mon df

df_covid.columns

Index(['index', 'Country_Region', 'FIPS', 'Admin', 'Province_State',
       'Last_Update', 'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered',
       'Active', 'Combined_Key'],
      dtype='object')

In [22]:
#Series serie[[index]], serie[ : numéro de ligne]
#dataframe accéder à une colone df[colonne]

df_covid[['Country_Region','Active']]

      Country_Region  Active
0                 US      17
1                 US     103
2                 US      42
3                 US     588
4                 US       1
...              ...     ...
3105  United Kingdom       0
3106           Nauru       0
3107     New Zealand       0
3108          Tuvalu       0
3109  United Kingdom       0

[3110 rows x 2 columns]

In [23]:
#df.loc[nom_index] accéder à la ligne qui correspond a l'index
#df.iloc[numéro_ligne] accede aux valeurs d'un certain numéro de ligne

df_covid.set_index('Country_Region').loc['US']

,index,FIPS,Admin,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
Country_Region,,,,,,,,,,,,
US,0,45001.0,Abbeville,South Carolina,2020-04-19 23:41:01,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US"
US,1,22001.0,Acadia,Louisiana,2020-04-19 23:41:01,30.295065,-92.414197,110,7,0,103,"Acadia, Louisiana, US"
US,2,51001.0,Accomack,Virginia,2020-04-19 23:41:01,37.767072,-75.632346,42,0,0,42,"Accomack, Virginia, US"
US,3,16001.0,Ada,Idaho,2020-04-19 23:41:01,43.452658,-116.241552,598,10,0,588,"Ada, Idaho, US"
US,4,19001.0,Adair,Iowa,2020-04-19 23:41:01,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
US,2829,66.0,NaN,Guam,2020-04-19 23:41:01,13.444300,144.793700,136,5,0,131,"Guam, US"
US,2856,69.0,NaN,Northern Mariana Islands,2020-04-19 23:41:01,15.097900,145.673900,14,2,0,12,"Northern Mariana Islands, US"
US,2863,72.0,NaN,Puerto Rico,2020-04-19 23:41:01,18.220800,-66.590100,1213,62,0,1151,"Puerto Rico, US"
US,2868,NaN,NaN,Recovered,2020-04-19 23:41:01,NaN,NaN,0,0,70337,0,"Recovered, US"
US,2887,78.0,NaN,Virgin Islands,2020-04-19 23:41:01,18.335800,-64.896300,53,3,0,50,"Virgin Islands, US"

In [24]:
df_covid.iloc[4:10]

,index,Country_Region,FIPS,Admin,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
4,4,US,19001.0,Adair,Iowa,2020-04-19 23:41:01,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"
5,5,US,21001.0,Adair,Kentucky,2020-04-19 23:41:01,37.104598,-85.281297,53,3,0,50,"Adair, Kentucky, US"
6,6,US,29001.0,Adair,Missouri,2020-04-19 23:41:01,40.190586,-92.600782,12,0,0,12,"Adair, Missouri, US"
7,7,US,40001.0,Adair,Oklahoma,2020-04-19 23:41:01,35.884942,-94.658593,43,3,0,40,"Adair, Oklahoma, US"
8,8,US,8001.0,Adams,Colorado,2020-04-19 23:41:01,39.874321,-104.336258,1514,88,0,880,"Adams, Colorado, US"
9,9,US,16003.0,Adams,Idaho,2020-04-19 23:41:01,44.893336,-116.454525,1,0,0,1,"Adams, Idaho, US"

In [25]:
#loc et iloc peuvent prendre plusieurs dimensions entre crochets
#df.loc[nom_index, colonne] loc et iloc peuvent prendre plusieurs dimensions

df_covid.set_index('Country_Region').loc['US',['Active','Deaths']]

                Active  Deaths
Country_Region
US                  17       0
US                 103       7
US                  42       0
US                 588      10
US                   1       0
...                ...     ...
US                 131       5
US                  12       2
US                1151      62
US                   0       0
US                  50       3

[2810 rows x 2 columns]

In [27]:
df_covid['sum_all_cases'] = df_covid['Recovered']+df_covid['Active']+df_covid['Deaths']
df_covid

,index,Country_Region,FIPS,Admin,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,sum_all_cases
0,0,US,45001.0,Abbeville,South Carolina,2020-04-19 23:41:01,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US",17
1,1,US,22001.0,Acadia,Louisiana,2020-04-19 23:41:01,30.295065,-92.414197,110,7,0,103,"Acadia, Louisiana, US",110
2,2,US,51001.0,Accomack,Virginia,2020-04-19 23:41:01,37.767072,-75.632346,42,0,0,42,"Accomack, Virginia, US",42
3,3,US,16001.0,Ada,Idaho,2020-04-19 23:41:01,43.452658,-116.241552,598,10,0,588,"Ada, Idaho, US",598
4,4,US,19001.0,Adair,Iowa,2020-04-19 23:41:01,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3105,3105,United Kingdom,82604.0,NaN,Wales,2020-04-19 23:41:01,52.130700,-3.783700,0,1181,0,0,"Wales, United Kingdom",1181
3106,3106,Nauru,NaN,NaN,NaN,2020-04-19 23:41:01,-0.522800,166.931500,0,0,0,0,Nauru,0
3107,3107,New Zealand,NaN,NaN,Niue,2020-04-19 23:41:01,-19.054400,-169.867200,0,0,0,0,"Niue, New Zealand",0
3108,3108,Tuvalu,NaN,NaN,NaN,2020-04-19 23:41:01,-7.109500,177.649300,0,0,0,0,Tuvalu,0
3109,3109,United Kingdom,NaN,NaN,Pitcairn Islands,2020-04-19 23:41:01,-24.376800,-128.324200,0,0,0,0,"Pitcairn Islands, United Kingdom",0

In [30]:
# Check if 'sum_all_cases2' column already exists before inserting
if 'sum_all_cases2' not in df_covid.columns:
    df_covid.insert(2, 'sum_all_cases2',  df_covid['Recovered']+df_covid['Active']+df_covid['Deaths'])
else:
    # If it exists, you might want to update it or simply pass
    df_covid['sum_all_cases2'] = df_covid['Recovered']+df_covid['Active']+df_covid['Deaths']
    print("La colonne 'sum_all_cases2' existait déjà et a été mise à jour.")

df_covid.head()

La colonne 'sum_all_cases2' existait déjà et a été mise à jour.

,index,Country_Region,sum_all_cases2,FIPS,Admin,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,sum_all_cases
0,0,US,17,45001.0,Abbeville,South Carolina,2020-04-19 23:41:01,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US",17
1,1,US,110,22001.0,Acadia,Louisiana,2020-04-19 23:41:01,30.295065,-92.414197,110,7,0,103,"Acadia, Louisiana, US",110
2,2,US,42,51001.0,Accomack,Virginia,2020-04-19 23:41:01,37.767072,-75.632346,42,0,0,42,"Accomack, Virginia, US",42
3,3,US,598,16001.0,Ada,Idaho,2020-04-19 23:41:01,43.452658,-116.241552,598,10,0,588,"Ada, Idaho, US",598
4,4,US,1,19001.0,Adair,Iowa,2020-04-19 23:41:01,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US",1

In [31]:
#fonctions utiles df.info(), df.describe(), serie.value_counts()


df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3110 entries, 0 to 3109
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           3110 non-null   int64
 1   Country_Region  3110 non-null   object
 2   sum_all_cases2  3110 non-null   int64
 3   FIPS            2803 non-null   float64
 4   Admin           2803 non-null   object
 5   Province_State  2922 non-null   object
 6   Last_Update     3110 non-null   object
 7   Lat             3047 non-null   float64
 8   Long_           3047 non-null   float64
 9   Confirmed       3110 non-null   int64
 10  Deaths          3110 non-null   int64
 11  Recovered       3110 non-null   int64
 12  Active          3110 non-null   int64
 13  Combined_Key    3110 non-null   object
 14  sum_all_cases   3110 non-null   int64
dtypes: float64(3), int64(7), object(5)
memory usage: 364.6+ KB

In [32]:
df_covid.describe()

,index,sum_all_cases2,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active,sum_all_cases
count,3110.000000,3110.000000,2803.00000,3047.000000,3047.000000,3110.000000,3110.000000,3110.000000,3110.000000,3110.000000
mean,1554.500000,803.518650,31299.41741,36.381381,-79.731236,773.788103,58.064309,200.717685,544.736656,803.518650
std,897.923995,7682.714912,17328.60835,10.699683,43.403593,7641.973585,868.186793,3153.122461,4902.824753,7682.714912
min,0.000000,0.000000,66.00000,-71.949900,-175.198200,0.000000,0.000000,0.000000,0.000000,0.000000
25%,777.250000,5.000000,18110.00000,33.702193,-95.826625,4.000000,0.000000,0.000000,4.000000,5.000000
50%,1554.500000,19.000000,29131.00000,37.814742,-87.490227,18.000000,0.000000,0.000000,17.000000,19.000000
75%,2331.750000,91.000000,46071.00000,41.515253,-80.867205,89.000000,3.000000,0.000000,78.000000,91.000000
max,3109.000000,198674.000000,99999.00000,71.706900,178.065000,198674.000000,25049.000000,88000.000000,124249.000000,198674.000000

In [33]:
df_covid['Country_Region'].value_counts()

Country_Region
US                      2810
China                     34
United Kingdom            19
Malaysia                  17
Canada                    15
                        ...
Winter Olympics 2022       1
Antarctica                 1
Korea, North               1
Nauru                      1
Tuvalu                     1
Name: count, Length: 194, dtype: int64

In [34]:
df_covid[df_covid['Country_Region']=='France']

,index,Country_Region,sum_all_cases2,FIPS,Admin,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,sum_all_cases
2820,2820,France,96,NaN,NaN,French Guiana,2020-04-19 23:40:41,4.000000,-53.000000,96,0,64,32,"French Guiana, France",96
2821,2821,France,55,NaN,NaN,French Polynesia,2020-04-19 23:40:41,-17.679700,-149.406800,55,0,2,53,"French Polynesia, France",55
2828,2828,France,148,NaN,NaN,Guadeloupe,2020-04-19 23:40:41,16.265000,-61.551000,148,8,73,67,"Guadeloupe, France",148
2848,2848,France,163,NaN,NaN,Martinique,2020-04-19 23:40:41,14.641500,-61.024200,163,12,73,78,"Martinique, France",163
2849,2849,France,271,NaN,NaN,Mayotte,2020-04-19 23:40:41,-12.827500,45.166244,271,4,117,150,"Mayotte, France",271
2852,2852,France,18,NaN,NaN,New Caledonia,2020-04-19 23:40:41,-20.904305,165.618042,18,0,15,3,"New Caledonia, France",18
2869,2869,France,408,NaN,NaN,Reunion,2020-04-19 23:40:41,-21.115100,55.536400,408,0,237,171,"Reunion, France",408
2870,2870,France,6,NaN,NaN,Saint Barthelemy,2020-04-19 23:40:41,17.900000,-62.833300,6,0,5,1,"Saint Barthelemy, France",6
2872,2872,France,1,NaN,NaN,Saint Pierre and Miquelon,2020-04-19 23:40:41,46.885200,-56.315900,1,0,0,1,"Saint Pierre and Miquelon, France",1
2881,2881,France,37,NaN,NaN,St Martin,2020-04-19 23:40:41,18.070800,-63.050100,37,2,19,16,"St Martin, France",37
2951,2951,France,151838,NaN,NaN,NaN,2020-04-19 23:40:41,46.227600,2.213700,151838,19692,36578,95568,France,151838

In [36]:
# df.copy() copier votre df pour le dupliquer

df_covid2 = df_covid #df_covid2 va aussi modifier df_covid!!
df_covid2 = df_covid.copy()